//MIDAS MATERIAL CSS VARIBALES
$dash-grey-light1: #faf9f9;
$dash-grey-light2: #f4f2f2;
$dash-grey-light3: #f0eeee;
$dash-grey-light4: #ccc;

$dash-primary1: #cb2f64;
$dash-primary2: #ff3366;
$dash-primary3: #911937;
$border-line: 1px solid $dash-grey-light2;
$bp-small: 37.5em; // 600px/16px =37.5em
